In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [2]:
df = pd.read_csv('Crop_recommendation.csv');
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [3]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [4]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [5]:
df['label'].unique().shape

(22,)

In [6]:
df['label'].value_counts()

chickpea       100
orange         100
mothbeans      100
blackgram      100
apple          100
kidneybeans    100
grapes         100
jute           100
coffee         100
lentil         100
mungbean       100
rice           100
muskmelon      100
banana         100
papaya         100
coconut        100
pomegranate    100
watermelon     100
cotton         100
maize          100
mango          100
pigeonpeas     100
Name: label, dtype: int64

In [7]:
features_input = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target_output = df['label']

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(features_input, target_output, test_size = 0.20, random_state = 199)

In [14]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=20, random_state=0)
model.fit(X_train,Y_train)

prediction = model.predict(X_test)

x = metrics.accuracy_score(Y_test, prediction)
print("Accuracy : ", x)

print(classification_report(Y_test,prediction))

Accuracy :  0.9840909090909091
              precision    recall  f1-score   support

       apple       1.00      1.00      1.00        24
      banana       1.00      1.00      1.00        23
   blackgram       1.00      0.95      0.98        21
    chickpea       1.00      1.00      1.00        21
     coconut       1.00      1.00      1.00        17
      coffee       1.00      1.00      1.00        21
      cotton       0.92      1.00      0.96        11
      grapes       1.00      1.00      1.00        20
        jute       0.95      0.83      0.89        24
 kidneybeans       1.00      1.00      1.00        20
      lentil       1.00      1.00      1.00        22
       maize       1.00      0.95      0.98        22
       mango       1.00      1.00      1.00        23
   mothbeans       0.93      1.00      0.97        14
    mungbean       1.00      1.00      1.00        19
   muskmelon       1.00      1.00      1.00        18
      orange       1.00      1.00      1.00        21
      papaya       1.00      1.00      1.00        16
  pigeonpeas       1.00      1.00      1.00        21
 pomegranate       1.00      1.00      1.00        16
        rice       0.86      0.96      0.91        25
  watermelon       1.00      1.00      1.00        21

    accuracy                           0.98       440
   macro avg       0.98      0.99      0.98       440
weighted avg       0.99      0.98      0.98       440

In [17]:
import pickle

file = 'RandomForestModel.pkl'

pkl_model = open(file, 'wb')
pickle.dump(model, pkl_model)
pkl_model.close()